body{
    margin: 0;
    /* font-family: 'Aldrch', sans-serif; */
    font-family: 'Gugi', cursive;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(Desain-Kamar-Kost-Serba-Putih.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
nav{
    font-size: large;
}
.navbar-brand{
    font-size: 30px;
}

.container{
    padding-top: 150px;
    padding: 0px 20%;
    
    background-repeat: no-repeat;
    background-size: cover;
}

.form1{
    padding-top: 150px;
}


label{
    color:#fff;
    font-size: 30px;
}

input{
    color: #ffc107;
}

.tampilan{
    text-align: center;
    color: #ffc107;
}

.header{
    padding-top: 50px;
    text-align: center;
    color: #ffc107;
}